{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container my-3">
  <div class="row d-flex flex-column flex-md-row align-items-start justify-content-center">
    <div class="col-md-6 col-sm-12 border border-primary py-2 px-3 rounded-2">
      <h1 class="text-center">{% trans "Sign In" %}</h1>

      <p>{% blocktrans %}Welcome back to the Napoli. To book a table or leave a review, please log in. If you don't have
        an account yet, please <a class="link" href="{{ signup_url }}">sign up</a>
        first.{% endblocktrans %}</p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}