 body {
     font-family: Jura, Roboto, sans-serif;
 }
 
/* Background for main section */
 main {
     background-image: linear-gradient(to top, #f0a614, #f4ab10, #f8b10c, #fbb606, #ffbc00);
 }

 .logo {
     font-family: Jura, Roboto, sans-serif;
     font-size: 1.8rem;
     font-weight: 700;
     color: #202022;
 }

 .dark-bg {
     background-color: #151d22;
 }
 
 .nav-color {
     background-color: #00a998;
 }


 .hero-video {
     object-fit: cover;
     /* Crops the video to fit the screen size without distortion */
     z-index: 1;
     filter: brightness(60%);
     /* Darkens the video for better text contrast */
 }

 .hero-section {
     height: 75vh;
     overflow: hidden;
 }

 .container {
     z-index: 2;
     position: relative;
 }

 .center {
     text-align: center;
 }

 .margin {
    display: inline-block;
 }